{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "<your connection string>",
    "AzureWebJobsDashboard": "<your connection string>",
    "ClientId": "<your client id>",
    "ClientSecret": "<your client secret>",
    "TenantId": "<your tenant id>"
  }
}