{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "ClientId": "<your client id>",
    "ClientSecret": "<your client secret>",
    "TenantId": "<your tenant id>",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet"
  }
}